@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,400;9..144,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: hsl(30, 38%, 92%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98vw;
    height: 97vh;
}

main {
    display: flex;
    flex-direction: row;
    height: 21rem;
    width: 31.25rem;
    border-radius: 0.625rem;
}

img {
    height: 21.875rem;
    width: 15.625rem;
    border-top-left-radius: 0.625rem;
    border-bottom-left-radius: 0.625rem;
}

.content {
    height: 21.875rem;
    width: 15.625rem;
    background-color: hsl(0, 0%, 100%);
    border-radius: 0rem 0.625rem 0.625rem 0rem;
}

.details {
    margin: 0rem 1.563rem;
}

h6 {
    font-family: 'Roboto', sans-serif;
    font-size: 0.688rem;
    font-weight: 550;
    letter-spacing: 0.25rem;
    color: rgb(134, 132, 132);
    margin-top: 1.875rem;
}

h1 {
    margin-top: 0.938rem;
    margin-right: 1.875rem;
    font-family: 'Fraunces', serif;
    font-size: 1.75rem;
    font-weight: 1000;
    letter-spacing: -0.063rem;
    line-height: 100%;
    color: rgb(39, 38, 38);
}

.description {
    margin-top: -0.625rem;
    margin-right: 0.938rem;
    font-family: 'Roboto', sans-serif;
    font-size: 0.75rem;
    color: gray;
    letter-spacing: 0.031rem;
    line-height: 160%;
}

ul {
    list-style: none;
}

.discountprice {
    font-family: 'Fraunces', serif;
    font-size: 1.563rem;
    font-weight: 700;
    color: #42855B;
    margin-top: -0.125rem;
}

.price {
    display: flex;
    margin-left: -2.5rem;
}

.MRP {
    font-family: 'Roboto', sans-serif;
    margin-left: 0.938rem;
    margin-top: 0.313rem;
    color: rgb(133, 131, 131);
    font-size: 0.813rem;
}

button {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    background-color: #42855B;
    border: transparent;
    padding: 0.625rem 3.125rem;
    border-radius: 0.313rem;
    color: white;
    cursor: pointer;
}

i {
    margin-right: 0.5rem;
}